.timeline-row {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  &.is-header {
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    font-size: 20px;
    > h2 {
      position: sticky;
      top: 0;
      left: 0;
    }
  }
  &__item {
    flex: 0 0 auto;
    display: flex;
    padding: 2px;
    position: relative;
    align-items: center;
    justify-content: center;

    &::before {
      content: ' ';
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      display: block;
      background-color: #ddd;
      z-index: -1;
    }
  }
}
