.product-card {
  background-color: var(--color-card);
  border-radius: 2px;
  padding: 1rem;
  /* https://smoothshadows.com/#djEsMiw1LDAuMDksMjQsMTAsMCwjMDMwNzEyLCNmM2Y0ZjYsI2ZmZmZmZiwy */
  box-shadow:
    0px 0px 1px rgba(3, 7, 18, 0.09),
    0px 2px 4px rgba(3, 7, 18, 0.07),
    0px 4px 9px rgba(3, 7, 18, 0.05),
    0px 6px 15px rgba(3, 7, 18, 0.04),
    0px 10px 24px rgba(3, 7, 18, 0.02);
}
