.product-view {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
  gap: 1rem;
  h1 {
    grid-column: 1 / -1;
    font-size: 3rem;
    font-weight: 900;
  }
  h2 {
    grid-column: 1 / -1;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .product-image {
    grid-row: auto / span 2;
  }
  .product-view__content {
    grid-column: 2;
    display: grid;
    gap: 1rem;
  }
  .product-view__price {
    font-size: 2rem;
    font-weight: 900;
    color: var(--color-primary);
  }
  .product-view__nutrition {
    h3 {
      margin-top: 1rem;
      font-size: 1.25rem;
      font-weight: 600;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      th,
      td {
        border-bottom: 1px solid var(--color-border);
        padding: 0.25rem 0;
      }
      tr:nth-child(even) {
        background-color: var(--color-background);
      }
    }
  }
}
